{% extends 'base.html' %}

{% load staticfiles likes  %}
{% block title %}{{ fotos.name }}{% endblock %}

{% block menu %}
    {% if perms.webapp.change_photo %}
        <li><a href='#'>Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_photo %}
        <li><a href="#">Delete</a></li>
    {% endif %}
{#    {% if perms.webapp.add_product%}#}
{#        <li><a href="{% url 'webapp:product_add' %}">Create</a></li>#}
{#    {% endif %}#}
{% endblock %}

{% block content %}

         <h1 class="text-center">Gallery</h1>
    <hr/>
    <img src="{{ fotos.image.url }}" alt="photo" width="200px" height="200">

    <p><b>Author: </b>{{ fotos.author }}</p>
     <p><b>Signature: </b>{{ fotos.signature }}</p>
    <p><b>Created at: </b>{{ fotos.created_at }}</p>
{#    <a class="add btn bg-primary" href="{% url 'api:favorites_create' fotos.pk%}">CreatFavorites</a>#}
{#    <a class="delete btn bg-danger" href="{% url 'api:favorites_delete' fotos.pk%}">DeleteFavorites</a>#}

    <br>


 {% if user.is_authenticated %}

                        {% with fotos|liked_by:user as liked %}
                     <a class="{% if liked %}hidden{% endif %} add  btn bg-primary" href="{% url 'api:favorites_create' fotos.pk %}">CreatFavorites</a>
                     <a class="{% if not liked %}hidden{% endif %} delete btn bg-danger" href="{% url  'api:favorites_delete' fotos.pk %}">DeleteFavorites</a>
                        {% endwith %}

                {% endif %}
    <br>
    <br>
   <p> <a href="{% url 'webapp:foto_update' fotos.pk%}" class="btn bg-primary" >Update</a></p>
    <p><a href="{% url 'webapp:foto_delete' fotos.pk %}" class="btn bg-danger">Delete</a></p>
{% endblock %}