{% extends 'base.html' %}

{% block content %}
    <h1>Галерея</h1>
    {% block menu %}

{% endblock %}

    {% for foto in fotos %}
        <div class="box">

            <img src="{{ foto.image.url }}" width="250" height="250"alt="photo">
            <br>

            {% if perms.webapp.change_review %}
             <li><a href="{% url 'webapp:foto_view' foto.pk %}">View</a></li>
            {% endif %}

        {% if perms.webapp.delete_review %}
            <li><a href="{% url 'webapp:foto_create'%}">CreatFoto</a></li>
            <li><a href="{% url 'webapp:foto_update' foto.pk%}">UpdateFoto</a></li>
            <li><a href="#">Delete</a></li>
        {% endif %}

        </div>
    {% endfor %}
{% endblock %}
